+++
title = "devSpec"
linkTitle = "devSpec"

+++

{{< blocks/cover title="devSpec: 一个最佳实践的开发规范和配套工具集合" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
    <a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
    立即阅读 <i class="fas fa-arrow-alt-circle-right ml-2"></i>
    </a>
    <a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/TaibiaoGuo/devSpec">
        项目仓库 <i class="fab fa-github ml-2 "></i>
    </a>

    {{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
devSpec 为小型团队、远程办公团队快速开展敏捷的、健壮的、持续交付的软件项目提供了完整的开发生命周期管理规范和工具。
{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-sitemap" title="项目管理" %}}
软件项目的发起、设计、评审、开发、测试、交付生命周期指南
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-dev" title="持续集成与部署"  %}}
软件项目的自动化集成、测试、部署、运维指南
{{% /blocks/feature %}}


{{% blocks/feature icon="fas fa-file-alt" title="软件文档"  %}}
参照国家标准规范的软件文档编写指南
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-code-branch" title="源码管理"  %}}
软件源代码管理和Issue、Kanban的源码管理指南
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-folder-open" title="仓库模板"  %}}
多语言的仓库模板以及微服务的仓库模板帮助你快速创建一个项目
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-fighter-jet" title="敏捷开发"  %}}
敏捷开发指南
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-braille" title="微服务"  %}}
微服务开发和运维指南
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-american-sign-language-interpreting" title="标准接口"  %}}
GRPC、HTTP、消息队列等服务间通讯指南
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-toolbox" title="开发工具"  %}}
常用开发工具安装、使用指南
{{% /blocks/feature %}}


{{< /blocks/section >}}


{{< blocks/section >}}
<div class="col">
    <h1 class="text-center">长期招募志愿者，欢迎贡献内容！</h1>
</div>

{{< /blocks/section >}}